* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: #E5E5E5;
    padding-top: 46px;
}
.header {
    padding: 6px;
    background: #0050B3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99%;
}
.header-block {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.m-menu {
    border: none;
    background-color: transparent;
    height: 32px;
    padding: 0;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    overflow: 0;
    margin-right: 18px;
}
.m-menu .line {
    width: 32px;
    height: 2px;
    background-color: white;
}
.search-input {
    font-size: 14px;
    line-height: 22px;
    padding: 5px 30px 5px 12px;
    width: 100%;
    width: 336px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
}
.navigation {
    display: flex;
    align-items: center;
}
.user {
    display: flex;
    align-items: center;
}
.user-avatar {
    margin-right: 8px;
    /* width: 32px;
    height: 32px; */
    border-radius: 50%;
    /* object-fit: cover; */
}
.user-name {
    color: white;
    font-size: 14px;
    line-height: 22px;
}
.navigation-panel {
    display: flex;
    align-items: center;
}
.navigation-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}
.navigation-link:before {
    margin-left: 12px;
    margin-right: 12px;
    content: "";
    width: 1px;
    height: 16px;
    background: #003A8C;
}
.navigation-link:last-child:after {
    margin-left:  12px;
    content: "";
    width: 1px;
    height: 16px;
    background: #003A8C;
}
.icons-panel {
    display: flex;
    align-items: center;
}
.icon-link {
    display: flex;
    align-items: center;
    margin-left: 17px;
    text-decoration: none;
}
.icon-link:last-child:before {
    display: inline-block;
    content: "";
    margin-right: 12px;
    width: 1px;
    height: 16px;
    background: #003A8C;
}
.header-icon {
    fill: #002766;
    stroke: 0;
}
.header-icon:hover {
    fill: white;
}
.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
}
.menu-sidebar {
    margin-top: 18px;
    width: 192px;
    margin-right: 12px;
    margin-bottom: 16px;
}
.menu-sidebar .user {
    padding-left: 8px;
}
.menu-sidebar .user-avatar {
    width: 24px;
    height: 24px;
}
.menu-sidebar .user-name {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}
.nav-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 24px;
}
.nav-link {
    display: flex;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding: 4px 8px;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    color: #595959;
}
.nav-link.active {
    background: #FFFFFF;
    color: #262626;}
.nav-link .nav-text {
    margin-left  : 8px;
}
.nav-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #262626;
    padding-left: 10px;
    margin-bottom: 0;
    margin-bottom: 4px;
}
.main-feed {
    max-width: 588px;
    margin-top: 16px;
    margin-left: 12px;
    flex-grow: 1;
}
.create-post {
    background: #FFFFFF;    
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.create-post-header {
    padding: 9px 16px;
    background: #F5F5F5;
}
.create-post-title {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #595959;
}
.create-post-body {
    padding: 16px 16px 24px 16px;
    display: flex;
    align-items: flex-start;
}
.create-post-body .user-avatar {
    width: 40px;
    height: 40px;
}
.create-post-input {
    width: 100%;
    margin-left: 8px;
    padding-top: 8px;
    word-wrap: break-word;
    overflow: hidden;
}
.create-post-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 16px;
}
.create-post-footer:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
    margin-bottom: 16px;
}
.tag.button-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
.tag {
    background: #F5F5F5;
    border-radius: 48px;
    border: none;
    padding: 9px 12px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.tag svg {
    margin-right: 8px;
}
.post {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 16px 0;
    padding: 16px;
}
.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.post-header .user-avatar {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}
.post-header .post-button {
    background-color: #FFFFFF;
    border: none;
}
.post-info {
    display: flex;
    flex-wrap: wrap;
}
.post-author {
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    text-decoration: none;
}
.post-time {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #8C8C8C;
}
.post-time:after {
    content: "";
    width: 4px;
    height: 4px;
    background: #BFBFBF;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
}
.post-info-time {
    display: flex;
    align-items: center;
}
.post-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
.post-text a {
    color: #096DD9;
    text-decoration: none;
    margin-bottom: 16px;
}
.post-image {
    border: 1px solid #BFBFBF;
    border-radius: 4px;
    max-width: 100%;
}
.likes {
    margin-bottom: 9px;
    margin-top: 9px;
    display: flex;
    align-items: center;
}
.likes-counter {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
.likes .likes-icon {
    fill: #1890FF;
    stroke: 0;
    margin-right: 4px;
}
.post-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.post-footer:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
    margin-bottom: 16px;
}
.post-button {
    display: flex;
    align-items: center;
    border: none;
    background: #FFFFFF;
}
.post-button-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-left: 8px;
}
.post-button-icon {
    fill: #595959;
    stroke: 0;
}
.right-sidebar {
    width: 384px;
}
.stories {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 24px;
    margin-top: 16px;
    padding: 16px;
    padding-left: 24px;
}
.stories-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.stories-title {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}
.stories-buttons {
    display: flex;
    align-items: center;
}
.story-button-link {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    text-decoration: none;
}
.story-button-link:first-child:after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #BFBFBF;
    margin: 0 8px;
}
.stories-icon {
    fill: #0050B3;
    margin-right: 4px;
}
.story-button-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
}
.story-item-add, .story-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 16px;
}
.story-image {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #F5F5F5;
    border: 1px solid #D9D9D9;
    /* + */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #1890FF;
    margin-right: 12px;
}
.concuria {
    background-image: url(../img/concuria.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.figma {
    background-image: url(../img/figma.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ant-design {
    background-image: url(../img/af-logo.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.story-item .user-avatar {
    width: 48px;
    height: 48px;
}
.story-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    display: block;
}
.story-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
    width: 100%;
    word-wrap: break-word;
}
.bday {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 16px 0 16px 24px;
    padding: 17px;
    padding-left: 20px;
}
.bday-info {
    display: flex;
    align-items: center;
}
.bday-info svg {
    margin-right: 12px;
}
.bday-name {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    text-decoration: none;
}
.bday-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
.fanpage {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 16px 0 16px 24px;
    padding: 8px 16px 0px 16px;
}
.fanpage-header {
    width: 100%;
}
.fanpage-header-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    flex-wrap: wrap;
}
.fanpage-header-page:after {
    content: "";
    width: 150%;
    height: 1px;
    background-color: #E8E8E8;
    margin: 9px -32px 16px -32px;
}
.fanpage-header-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
.fanpage-stat {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.fanpage-stat:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
    margin: 23px 0 16px 0;
}
.fanpage-stat-image {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
}
.fanpage-stat-text {
    display: flex;
    flex-direction: column;
    margin-left: 12px;   
}
.fanpage-stat-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    text-decoration: none;
    margin-bottom: 4px;
}
.fanpage-stat-info svg {
    fill: #262626;
}
.fanpage-stat-info-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}
.radio-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40px;
}
.radio-button {
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    background: none;
    margin-right: -1px;
    height: 100%;
    border: 1px solid #D9D9D9; 
}
.radio-button:last-child {
    border: 1px solid #D9D9D9;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin-right: 0;
}
.radio-button.active {
    color: #1890FF;
    border: 1px solid #1890FF;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-right: 0px;
    z-index: 99%;
}
.fanpage-likes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.likes-title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #262626;
    padding: 0;
    margin: 0;
}
.likes-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
    padding: 0;
    margin: 0;
}


@media (max-width: 1250px) {
    .right-sidebar {
        display: none;
    }
    .container {
        width: 95%;
    }
    .header-block {
        width: 95%;
    }
}
@media (max-width: 960px) {
    .header .user {
        display: none;
    }
    .navigation-panel {
        display: none;
    }
}
@media (max-width: 840px) {
    .m-menu {
        display: flex;
    }
    .menu-sidebar {
        position: fixed;
        left: 0;
        top: 32px;
        width: 100%;
        max-width: 250px;
        padding-top: 12px;
        height: 100%;
        background-color: #f1f1f1;
        padding-left: 2%;
        transform: translateX(-100%);
        transition: transform 0.2s;
    }
    .menu-sidebar.active {
        transform: translateX(0%);
        transition: transform 0.2%;
    }
}
